{{ header }}{{ column_left }}
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right">
                <button type="submit" form="moloni-store-settings" data-toggle="tooltip" title="{{ save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
                <a href="{{ url.settings.cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a>
            </div>
            <h1>{{ heading_title }}</h1>
            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                    {% endfor %}
            </ul>
        </div>
    </div>
    <div class="container-fluid">

        {% if debug_window %}
            {{ debug_console }}
        {% endif %}

        {% if error_warnings or messages %}
            {{ errors_template }}
        {% endif %}

        {% if artigos_importados and artigos_importados.count > 0 %}
            <div class='moloni-debug-holder'>
                <div class="alert alert-info alert-dismissible" data-toggle="collapse" data-target="#moloni-artigos-importados" aria-expanded="false" aria-controls="collapseExample">
                    <i class="fa fa-info-circle"></i> {{notification.imported_n_products|format(artigos_importados.count)}}
                </div>
                <div id='moloni-artigos-importados' class="collapse moloni-debug-window">
                    <div class='log-holder' id="log-holder" >
                        {% for reference in artigos_importados.references%}
                            <div class="item">
                                <p><strong>{{notification.imported_product_reference}}</strong> {{reference}}</p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}

        {% if artigos_atualizados and artigos_atualizados.count > 0 %}
            <div class='moloni-debug-holder'>
                <div class="alert alert-info alert-dismissible" data-toggle="collapse" data-target="#moloni-artigos-atualizados" aria-expanded="false" aria-controls="collapseExample">
                    <i class="fa fa-info-circle"></i> {{notification.updated_n_products|format(artigos_atualizados.count)}}
                </div>
                <div id='moloni-artigos-atualizados' class="collapse moloni-debug-window">
                    <div class='log-holder' id="log-holder" >
                        {% for reference in artigos_atualizados.references%}
                            <div class="item">
                                <p><strong>{{notification.updated_product_reference}}</strong> {{reference}}</p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-pencil"></i>Editar configurações do plugin</h3>
            </div>

            <div class="panel-body">
                <form action="{{ url.settings.save }}" method="post" enctype="multipart/form-data" id="moloni-store-settings" class="form-horizontal">
                    <input type='hidden' name='store_id' value='{{content.store_id}}'>
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab-document" data-toggle="tab">{{label.document}}</a></li>
                        <li><a href="#tab-products" data-toggle="tab">{{label.products_clients}}</a></li>
                        <li><a href="#tab-orders" data-toggle="tab">{{label.orders}}</a></li>
                        <li><a href="#tab-tools" data-toggle="tab">{{label.tools}}</a></li>
                        <li><a href="#tab-developer" data-toggle="tab">{{label.developers}}</a></li>
                    </ul>

                    <div class="tab-content">
                        <div class="tab-pane active" id="tab-document">
                            <fieldset>
                                <legend>{{label.document_settings}}</legend>
                                <div class="form-group required">
                                    <label class="col-sm-2 control-label" for="input-document-set"><span data-toggle="tooltip" data-html="true" title="{{ tooltip.document_set|escape('html') }}">{{ label.document_set }}</span></label>
                                    <div class="col-sm-10">
                                        <select name="moloni[document_set_id]" id="input-document-set" class="form-control">
                                            {% for document_set in content.settings_values.document_sets %}
                                                <option value="{{ document_set.document_set_id }}" {{ document_set.document_set_id == options.document_set_id ? 'selected="selected"' : ""}}>{{ document_set.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group required">
                                    <label class="col-sm-2 control-label" for="input-document-set"><span data-toggle="tooltip" data-html="true" title="{{ tooltip.document_type|escape('html') }}">{{ label.document_type }}</span></label>
                                    <div class="col-sm-10">
                                        <select name="moloni[document_type]" id="input-document-type" class="form-control">
                                            {% for document_type in content.settings_values.document_types %}
                                                <option value="{{ document_type.name }}" {{ document_type.name == options.document_type ? 'selected="selected"' : ""}}>{{ label[document_type.name] }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group required">
                                    <label class="col-sm-2 control-label" for="input-document-set"><span data-toggle="tooltip" data-html="true" title="{{ tooltip.document_status|escape('html') }}">{{ label.document_status }}</span></label>
                                    <div class="col-sm-10">
                                        <select name="moloni[document_status]" id="input-document-type" class="form-control">
                                            {% for id, document_status in content.settings_values.document_status %}
                                                <option value="{{ id }}" {{ id == options.document_status ? 'selected="selected"' : ""}}>{{ label[document_status] }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>

                                {% if content.settings_values.caes == true %}
                                <div class="form-group required">
                                    <label class="col-sm-2 control-label" for="input-document-set"><span data-toggle="tooltip" data-html="true" title="{{ tooltip.cae|escape('html') }}">{{ label.cae}}</span></label>
                                    <div class="col-sm-10">
                                        <select name="moloni[cae]" id="input-document-type" class="form-control">
                                            {% for cae in content.settings_values.caes %}
                                                <option value="{{ cae.eac_id }}" {{ cae.eac_id == options.cae ? 'selected="selected"' : ""}}>{{ cae.description }} - {{ cae.code }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                {% endif %}

                                </fieldset>

                                <fieldset>
                                    <legend>{{label.shipping}}</legend>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label"><span data-toggle="tooltip" title="" data-original-title="{{ tooltip.shipping_details|escape('html') }}">{{label.shipping_details}}</span></label>
                                        <div class="col-sm-10">
                                            <label class="radio-inline"><input type="radio" name="moloni[shipping_details]" value="1" {{ options.shipping_details == "1" ? 'checked="checked"' : ""}}>
                                                {{label.yes}}
                                            </label>
                                            <label class="radio-inline"><input type="radio" name="moloni[shipping_details]" value="0" {{ options.shipping_details == "0" ? 'checked="checked"' : ""}}>
                                                {{label.no}}
                                            </label>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label"><span data-toggle="tooltip" title="" data-original-title="{{ tooltip.shipping_document|escape('html') }}">{{label.shipping_document}}</span></label>
                                        <div class="col-sm-10">
                                            <label class="radio-inline"><input type="radio" name="moloni[shipping_document]" value="1" {{ options.shipping_document == "1" ? 'checked="checked"' : ""}}>
                                                {{label.yes}}
                                            </label>
                                            <label class="radio-inline"><input type="radio" name="moloni[shipping_document]" value="0" {{ options.shipping_document == "0" ? 'checked="checked"' : ""}}>
                                                {{label.no}}
                                            </label>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label"><span data-toggle="tooltip" title="" data-original-title="{{ tooltip.store_location|escape('html') }}">{{label.store_location}}</span></label>
                                        <div class="col-sm-10">
                                            <select name="moloni[store_location]" id="input-document-type" class="form-control">
                                                {% for store_location in content.settings_values.store_locations %}
                                                    <option value="{{ store_location.id }}" {{ store_location.name == options.store_location ? 'selected="selected"' : ""}}>{{ store_location.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>

                            <div class="tab-pane" id="tab-products">
                                <fieldset>
                                    <legend>{{label.clients}}</legend>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label"><span data-toggle="tooltip" title="" data-original-title="{{ tooltip.client_update|escape('html') }}">{{label.client_update}}</span></label>
                                        <div class="col-sm-10">
                                            <label class="radio-inline"><input type="radio" name="moloni[client_update]" value="1" {{ options.client_update == "1" ? 'checked="checked"' : ""}}>
                                                {{label.yes}}
                                            </label>
                                            <label class="radio-inline"><input type="radio" name="moloni[client_update]" value="0" {{ options.client_update == "0" ? 'checked="checked"' : ""}}>
                                                {{label.no}}
                                            </label>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label"><span data-toggle="tooltip" title="" data-original-title="{{ tooltip.client_email|escape('html') }}">{{label.client_email}}</span></label>
                                        <div class="col-sm-10">
                                            <label class="radio-inline"><input type="radio" name="moloni[client_email]" value="1" {{ options.client_email == "1" ? 'checked="checked"' : ""}}>
                                                {{label.yes}}
                                            </label>
                                            <label class="radio-inline"><input type="radio" name="moloni[client_email]" value="0" {{ options.client_email == "0" ? 'checked="checked"' : ""}}>
                                                {{label.no}}
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label"><span data-toggle="tooltip" title="" data-original-title="{{ tooltip.client_prefix|escape('html') }}">{{label.client_prefix}}</span></label>
                                        <div class="col-sm-10">
                                            <input type="text" name="moloni[client_prefix]" value="{{ options.client_prefix }}" id="input-name" class="form-control" />
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="input-document-set"><span data-toggle="tooltip" data-html="true" title="{{ tooltip.client_vat|escape('html') }}">{{ label.client_vat }}</span></label>
                                        <div class="col-sm-10">
                                            <select name="moloni[client_vat]" id="input-document-type" class="form-control">
                                                {% for custom_field in content.settings_values.client_vat_custom_fields %}
                                                    <option value="{{ custom_field.custom_field_id }}" {{ options.client_vat == custom_field.custom_field_id ? 'selected="selected"' : ""}}>{{ custom_field.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="input-document-set"><span data-toggle="tooltip" data-html="true" title="{{ tooltip.client_maturity_date|escape('html') }}">{{ label.client_maturity_date }}</span></label>
                                        <div class="col-sm-10">
                                            <select name="moloni[maturity_date]" id="input-document-type" class="form-control">
                                                {% for maturity_date in content.settings_values.client_maturity_dates %}
                                                    <option value="{{ maturity_date.maturity_date_id }}" {{ options.maturity_date == maturity_date.maturity_date_id ? 'selected="selected"' : ""}}>{{ maturity_date.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </fieldset>

                                <fieldset>
                                    <legend>{{label.products}}</legend>

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="input-document-set"><span data-toggle="tooltip" data-html="true" title="{{ tooltip.products_at_category|escape('html') }}">{{ label.products_at_category }}</span></label>
                                        <div class="col-sm-10">
                                            <select name="moloni[products_at_category]" id="input-document-type" class="form-control">
                                                {% for at_category in content.settings_values.products_at_categories %}
                                                    <option value="{{ at_category.code }}" {{ at_category.code == options.products_at_category ? 'selected="selected"' : ""}}>{{ at_category.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="input-document-set"><span data-toggle="tooltip" data-html="true" title="{{ tooltip.measure_unit|escape('html') }}">{{ label.measure_unit }}</span></label>
                                        <div class="col-sm-10">
                                            <select name="moloni[measure_unit]" id="input-document-type" class="form-control">
                                                {% for measure_unit in content.settings_values.measure_units %}
                                                    <option value="{{ measure_unit.unit_id }}" {{ measure_unit.unit_id == options.measure_unit ? 'selected="selected"' : ""}}>{{ measure_unit.name }} ({{ measure_unit.short_name }})</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="input-document-set"><span data-toggle="tooltip" data-html="true" title="{{ tooltip.products_tax|escape('html') }}">{{ label.products_tax }}</span></label>
                                        <div class="col-sm-10">
                                            <select name="moloni[products_tax]" id="input-document-type" class="form-control">
                                                <option value="0" {{ options.products_tax == 0 ? 'selected="selected"' : ""}}>{{ label.let_opencart_decide }}</option>
                                                {% for taxes in content.settings_values.products_taxes %}
                                                    <option value="{{ taxes.tax_id }}" {{ taxes.tax_id == options.products_tax ? 'selected="selected"' : ""}}>{{ taxes.name }} ({{ taxes.fiscal_zone }})</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="input-document-set"><span data-toggle="tooltip" data-html="true" title="{{ tooltip.products_tax_exemption|escape('html') }}">{{ label.products_tax_exemption }}</span></label>
                                        <div class="col-sm-10">
                                            <select name="moloni[products_tax_exemption]" id="input-document-type" class="form-control">
                                                {% for exemption_reason in content.settings_values.products_exemptions %}
                                                    <option value="{{ exemption_reason.code }}" {{ exemption_reason.code == options.products_tax_exemption ? 'selected="selected"' : ""}}>{{ exemption_reason.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="input-document-set"><span data-toggle="tooltip" data-html="true" title="{{ tooltip.shipping_tax|escape('html') }}">{{ label.shipping_tax }}</span></label>
                                        <div class="col-sm-10">
                                            <select name="moloni[shipping_tax]" id="input-document-type" class="form-control">
                                                <option value="0" {{ options.shipping_tax == 0 ? 'selected="selected"' : ""}}>{{ label.let_opencart_decide }}</option>
                                                {% for taxes in content.settings_values.products_taxes %}
                                                    <option value="{{ taxes.tax_id }}" {{ taxes.tax_id == options.shipping_tax ? 'selected="selected"' : ""}}>{{ taxes.name }} ({{ taxes.fiscal_zone }})</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="input-document-set"><span data-toggle="tooltip" data-html="true" title="{{ tooltip.shipping_tax_exemption|escape('html') }}">{{ label.shipping_tax_exemption }}</span></label>
                                        <div class="col-sm-10">
                                            <select name="moloni[shipping_tax_exemption]" id="input-document-type" class="form-control">
                                                {% for exemption_reason in content.settings_values.products_exemptions %}
                                                    <option value="{{ exemption_reason.code }}" {{ exemption_reason.code == options.shipping_tax_exemption ? 'selected="selected"' : ""}}>{{ exemption_reason.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label"><span data-toggle="tooltip" title="" data-original-title="{{ tooltip.products_prefix|escape('html') }}">{{label.products_prefix}}</span></label>
                                        <div class="col-sm-10">
                                            <input type="text" name="moloni[products_prefix]" value="{{ options.products_prefix }}" id="input-name" class="form-control" />
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label"><span data-toggle="tooltip" title="" data-original-title="{{ tooltip.products_auto|escape('html') }}">{{label.products_auto}}</span></label>
                                        <div class="col-sm-10">
                                            <label class="radio-inline"><input type="radio" name="moloni[products_auto]" value="1" {{ options.products_auto == "1" ? 'checked="checked"' : ""}}>
                                                {{label.yes}}
                                            </label>
                                            <label class="radio-inline"><input type="radio" name="moloni[products_auto]" value="0" {{ options.products_auto == "0" ? 'checked="checked"' : ""}}>
                                                {{label.no}}
                                            </label>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label"><span data-toggle="tooltip" title="" data-original-title="{{ tooltip.products_description_document|escape('html') }}">{{label.products_description_document}}</span></label>
                                        <div class="col-sm-10">
                                            <label class="radio-inline"><input type="radio" name="moloni[products_description_document]" value="1" {{ options.products_description_document == "1" ? 'checked="checked"' : ""}}>
                                                {{label.yes}}
                                            </label>
                                            <label class="radio-inline"><input type="radio" name="moloni[products_description_document]" value="0" {{ options.products_description_document == "0" ? 'checked="checked"' : ""}}>
                                                {{label.no}}
                                            </label>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label"><span data-toggle="tooltip" title="" data-original-title="{{ tooltip.products_description_moloni|escape('html') }}">{{label.products_description_moloni}}</span></label>
                                        <div class="col-sm-10">
                                            <label class="radio-inline"><input type="radio" name="moloni[products_description_moloni]" value="1" {{ options.products_description_moloni == "1" ? 'checked="checked"' : ""}}>
                                                {{label.yes}}
                                            </label>
                                            <label class="radio-inline"><input type="radio" name="moloni[products_description_moloni]" value="0" {{ options.products_description_moloni == "0" ? 'checked="checked"' : ""}}>
                                                {{label.no}}
                                            </label>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label"><span data-toggle="tooltip" title="" data-original-title="{{ tooltip.remove_extra_tax|escape('html') }}">{{label.remove_extra_tax}}</span></label>
                                        <div class="col-sm-10">
                                            <label class="radio-inline"><input type="radio" name="moloni[remove_extra_tax]" value="1" {{ options.remove_extra_tax == "1" ? 'checked="checked"' : ""}}>
                                                {{label.yes}}
                                            </label>
                                            <label class="radio-inline"><input type="radio" name="moloni[remove_extra_tax]" value="0" {{ options.remove_extra_tax == "0" ? 'checked="checked"' : ""}}>
                                                {{label.no}}
                                            </label>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label"><span data-toggle="tooltip" title="" data-original-title="{{ tooltip.remove_extra_tax_shipping|escape('html') }}">{{label.remove_extra_tax_shipping}}</span></label>
                                        <div class="col-sm-10">
                                            <label class="radio-inline"><input type="radio" name="moloni[remove_extra_tax_shipping]" value="1" {{ options.remove_extra_tax_shipping == "1" ? 'checked="checked"' : ""}}>
                                                {{label.yes}}
                                            </label>
                                            <label class="radio-inline"><input type="radio" name="moloni[remove_extra_tax_shipping]" value="0" {{ options.remove_extra_tax_shipping == "0" ? 'checked="checked"' : ""}}>
                                                {{label.no}}
                                            </label>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label"><span data-toggle="tooltip" title="" data-original-title="{{ tooltip.moloni_options_reference|escape('html') }}">{{label.moloni_options_reference}}</span></label>
                                        <div class="col-sm-10">
                                            <label class="radio-inline"><input type="radio" name="moloni[moloni_options_reference]" value="1" {{ options.moloni_options_reference == "1" ? 'checked="checked"' : ""}}>
                                                {{label.yes}}
                                            </label>
                                            <label class="radio-inline"><input type="radio" name="moloni[moloni_options_reference]" value="0" {{ options.moloni_options_reference == "0" ? 'checked="checked"' : ""}}>
                                                {{label.no}}
                                            </label>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label"><span data-toggle="tooltip" title="" data-original-title="{{ tooltip.replace_white_space|escape('html') }}">{{label.replace_white_space}}</span></label>
                                        <div class="col-sm-10">
                                            <label class="radio-inline"><input type="radio" name="moloni[replace_white_space]" value="1" {{ options.replace_white_space == "1" ? 'checked="checked"' : ""}}>
                                                {{label.yes}}
                                            </label>
                                            <label class="radio-inline"><input type="radio" name="moloni[replace_white_space]" value="0" {{ options.replace_white_space == "0" ? 'checked="checked"' : ""}}>
                                                {{label.no}}
                                            </label>
                                        </div>
                                    </div>

                                </fieldset>
                            </div>

                            <div class="tab-pane" id="tab-orders">
                                <fieldset>
                                    <legend>{{label.orders}}</legend>

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label"><span data-toggle="tooltip" title="" data-original-title="{{ tooltip.order_auto|escape('html') }}">{{label.order_auto}}</span></label>
                                        <div class="col-sm-10">
                                            <label class="radio-inline"><input type="radio" name="moloni[order_auto]" value="1" {{ options.order_auto == "1" ? 'checked="checked"' : ""}}>
                                                {{label.yes}}
                                            </label>
                                            <label class="radio-inline"><input type="radio" name="moloni[order_auto]" value="0" {{ options.order_auto == "0" ? 'checked="checked"' : ""}}>
                                                {{label.no}}
                                            </label>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="input-date-available">{{ label.order_since }}</label>
                                        <div class="col-sm-3">
                                            <div class="input-group date">
                                                <input type="text" name="moloni[order_since]" value="{{ options.order_since }}" data-date-format="YYYY-MM-DD" id="input-date-available" class="form-control" />
                                                <span class="input-group-btn">
                                                    <button class="btn btn-default" type="button"><i class="fa fa-calendar"></i></button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">{{label.order_status}}</label>
                                        <div class="col-sm-10">
                                            <div class="well well-sm" style="height: 150px; overflow: auto;">
                                                {% for order_status in content.settings_values.order_statuses %}
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" name="moloni[order_statuses][]" value="{{order_status.order_status_id}}" {{ order_status.order_status_id in options.order_statuses ? 'checked="checked"' : ""}}>
                                                            {{order_status.name}}
                                                        </label>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                            <button type="button" onclick="$(this).parent().find(':checkbox').prop('checked', true);" class="btn btn-link">Select All</button>
                                            /
                                            <button type="button" onclick="$(this).parent().find(':checkbox').prop('checked', false);" class="btn btn-link">Unselect All</button>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>

                            <div class="tab-pane" id="tab-tools">
                                <fieldset>
                                    <legend>{{label.tools}}</legend>

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="import_tax_class"><span data-toggle="tooltip" data-html="true" title="{{ tooltip.import_tax_class|escape('html') }}">{{ label.import_tax_class }}</span></label>
                                        <div class="col-sm-2">
                                            <select name="moloni[import_tax_class]" id="import_tax_class" class="form-control">
                                                <option value="0" {{ options.import_tax_class == 0 ? 'selected="selected"' : ""}}>{{label.none}}</option>
                                                {% for tax_class in content.settings_values.tax_classes %}
                                                    <option value="{{ tax_class.tax_class_id }}" {{ tax_class.tax_class_id == options.import_tax_class ? 'selected="selected"' : ""}}>{{ tax_class.title }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="import_product_since_date"><span data-toggle="tooltip" data-html="true" title="{{ tooltip.import_product_since|escape('html') }}">{{ label.import_product_since }}</span></label>
                                        <div class="col-sm-3">
                                            <div class="input-group date">
                                                <input type="text" name="moloni[import_product_since]" value="{{ options.import_product_since }}" data-date-format="YYYY-MM-DD" id="import_product_since_date" class="form-control" />
                                                <span class="input-group-btn">
                                                    <button class="btn btn-default" type="button"><i class="fa fa-calendar"></i></button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">{{label.update_import_products}}</label>
                                        <div class="col-sm-10">
                                            <div class="well well-sm" style="height: 150px; overflow: auto;">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" name="moloni[update_import_products_name]" id="update_import_products_name" value="1" checked>
                                                        {{label.update_import_products_name}}
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" name="moloni[update_import_products_stock]" id="update_import_products_stock" value="1" checked>
                                                        {{label.update_import_products_stock}}
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" name="moloni[update_import_products_price]" id="update_import_products_price" value="1" checked>
                                                        {{label.update_import_products_price}}
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" name="moloni[update_import_products_image]" id="update_import_products_image" value="1" checked>
                                                        {{label.update_import_products_image}}
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label"><span data-toggle="tooltip" title="" data-original-title="{{ tooltip.import_products|escape('html') }}">{{label.import_products}}</span></label>
                                        <div class="col-sm-10">
                                            <button type="submit" id="btnImportMoloni" form="moloni-tools-hidden" data-toggle="tooltip" title="Import products" class="btn btn-primary">Import products</button>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>

                            <div class="tab-pane" id="tab-developer">
                                <fieldset>
                                    <legend>{{label.developer}}</legend>

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label"><span data-toggle="tooltip" title="" data-original-title="{{ tooltip.debug_console|escape('html') }}">{{label.debug_console}}</span></label>
                                        <div class="col-sm-10">
                                            <label class="radio-inline"><input type="radio" name="moloni[debug_console]" value="1" {{ options.debug_console == "1" ? 'checked="checked"' : ""}}>
                                                {{label.yes}}
                                            </label>
                                            <label class="radio-inline"><input type="radio" name="moloni[debug_console]" value="0" {{ options.debug_console == "0" ? 'checked="checked"' : ""}}>
                                                {{label.no}}
                                            </label>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label"><span data-toggle="tooltip" title="" data-original-title="{{ tooltip.git_username|escape('html') }}">{{label.git_username}}</span></label>
                                        <div class="col-sm-10">
                                            <input type="text" name="moloni[git_username]" value="{{ options.git_username }}" id="input-name" class="form-control" />
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label"><span data-toggle="tooltip" title="" data-original-title="{{ tooltip.git_repository|escape('html') }}">{{label.git_repository}}</span></label>
                                        <div class="col-sm-10">
                                            <input type="text" name="moloni[git_repository]" value="{{ options.git_repository }}" id="input-name" class="form-control" />
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label"><span data-toggle="tooltip" title="" data-original-title="{{ tooltip.git_branch|escape('html') }}">{{label.git_branch}}</span></label>
                                        <div class="col-sm-10">
                                            <input type="text" name="moloni[git_branch]" value="{{ options.git_branch }}" id="input-name" class="form-control" />
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">
                                            {{label.download_logs}}
                                        </label>
                                        <div class="col-sm-10">
                                            {% if  content.settings_values.log_url != '' %}
                                                <a title="{{label.download_logs}}" class="btn btn-primary" href="{{ content.settings_values.log_url }}">{{label.download_logs}}</a>
                                            {% else %}
                                                <button class="btn btn-primary" title="{{label.download_logs}}" disabled>{{label.download_logs}}</button>
                                            {% endif %}
                                        </div>
                                    </div>
                            </div>
                            </fieldset>
                        </div>
                </form>
                <form action="{{ url.import_products }}" method="post" enctype="multipart/form-data" id="moloni-tools-hidden">
                    <input type="hidden" name="moloni[import_tax_class_hidden]" value="" id="import_tax_class_hidden"/>
                    <input type="hidden" name="moloni[import_product_since_date_hidden]" value="" id="import_product_since_date_hidden"/>
                    <input type="hidden" name="moloni[update_import_products_name_hidden]" value="" id="update_import_products_name_hidden"/>
                    <input type="hidden" name="moloni[update_import_products_stock_hidden]" value="" id="update_import_products_stock_hidden"/>
                    <input type="hidden" name="moloni[update_import_products_price_hidden]" value="" id="update_import_products_price_hidden"/>
                    <input type="hidden" name="moloni[update_import_products_image_hidden]" value="" id="update_import_products_image_hidden"/>
                </form>
            </div>
        </div>

    </div>
    <link href="view/stylesheet/moloni/moloni-sheet.css" rel="stylesheet" />
    <script>
        $('.date').datetimepicker({
            language: '{{ datepicker }}',
            pickTime: false
        });

        $("#btnImportMoloni").click(function() {
            $("#import_product_since_date_hidden").val(document.getElementById('import_product_since_date').value);
            $("#import_tax_class_hidden").val($("#import_tax_class").val());
            document.getElementById('update_import_products_name_hidden').value = $("#update_import_products_name").is(":checked") ? 1 : 0 ;
            document.getElementById('update_import_products_stock_hidden').value = $("#update_import_products_stock").is(":checked") ? 1 : 0 ;
            document.getElementById('update_import_products_price_hidden').value = $("#update_import_products_price").is(":checked") ? 1 : 0 ;
            document.getElementById('update_import_products_image_hidden').value = $("#update_import_products_image").is(":checked") ? 1 : 0 ;
        });
    </script>
    {{ footer }}